.landing-background-video {
  position: absolute;
  top: -50px;
  left: 0;
  width: 100vw;
  /*height: 100vh;*/
  height: calc(100vh + 50px);
  overflow: hidden; }

.landing-background-video > video {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
  overflow-x: hidden; }

@media screen and (max-aspect-ratio: 1920 / 1080) {
  .landing-background-video > video {
    height: 100%; } }

@media screen and (min-aspect-ratio: 1920 / 1080) {
  .landing-background-video > video {
    width: 100%; } }
