footer {
  background-color: #323232;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;

  p {
    color: #666666;
    font-size: 13px;
    text-align: center;
  }

  .social-bar {
    position: static;
    padding-top: 12.5px;
    padding-bottom: 5px;
  }
}
