.loading-page {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  position: relative;

  .pane {
    width: 50%;
    height: 100%;
    background-color: #ffffff;
    z-index: 1000;
    position: fixed;
    top: 0;

    &#left-pane {
      left: 0;

      &.post-transition {
        transform: translateX(-100%);
        transition: 0.7s ease-out 1.5s;
      }
    }

    &#right-pane {
      right: 0;

      &.post-transition {
        transform: translateX(100%);
        transition: 0.7s ease-out 1.5s;
      }
    }
  }
}

.loader {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -76px;
  margin-left: -76px;
  transform: translate(-50%, -50%);
  z-index: 1000;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 0.8s linear; /* Safari */
  animation: spin 0.8s linear;
  opacity: 1;

  &.post-transition {
    opacity: 0;
    transition: 0.2s ease-out 1s;
  }

  &.stop-animation {
    animation-play-state: paused;
    z-index: -1;
  }

  @media screen and (max-width: 550px) {
    width: 100px;
    height: 100px;
    margin-top: -66px;
    margin-left: -66px;
  }
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
