#navbar .navbar-ctas {
  position: fixed;
  right: 30px;
  top: 38px;
  display: block;
  margin: 0;
  margin-top: 2.5px;
  transition: 1s;

  @media screen and (min-width: 1200px) {
    &.scrolled {
      top: 29px;
      transition: 1s;
    }

    &.scrolled-hover .navbar-link a {
      color: #666666;
      transition: 0.2s ease;

      &:hover {
        color: #000000;
        transition: 0.3s ease;
      }
    }
  }

  &.active {
    transform: translateX(-300px);
    transition: 0.45s ease;
    z-index: 5;
    box-shadow: 0 3px 28px 0px rgba(33, 47, 56, 0.18);
    border: solid 1px rgba(255,255,255,0.95);
  }

  li:last-of-type {
    padding-right: 0;
    display: none;
  }

  .navbar-link {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;

    a {
      font-family: 'ProximaRegular', sans-serif;
      font-weight: 700;
      font-size: 12.5px;
      color: white;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      transition: 0.2s ease;

      &:hover {
        color: #666666;
        transition: 0.3s ease;
      }
    }
  }

  hr {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  #navbar .navbar-ctas {
    top: auto;
    margin-top: 2px;
    transition: 1s;

    .navbar-link a {
      color: #666666;
      transition: 0.2s ease;

      &:hover {
        color: #000000;
        transition: 0.3s ease;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  #navbar .navbar-ctas {
    display: block;
    position: fixed;
    padding-top: 46px;
    padding-left: 15px;
    padding-right: 15px;
    top: 0 !important;
    height: 100vh;
    margin: 0;
    right: -300px;
    background-color: rgba(255,255,255,0.98);
    z-index: 6;
    width: 250px;
    transition: 0.45s ease-out;

    li:last-of-type {
      display: block;
    }

    .navbar-link {
      display: block !important;
      padding-top: 25px;
      padding-bottom: 25px;
      padding-left: 20px;
      padding-right: 20px;

      a {
        // color: #6a7c8f !important;
        color: #666666 !important;
        transition: 0.2s ease;

        &:hover {
          color: #000000 !important;
          font-weight: 600;
          transition: 0.3s ease;
        }
      }

      .nav-item-underline {
        display: none !important;
      }
    }

    hr {
      display: block !important;
      margin: 25px 20px;
    }
  }
}
