#portfolio-container {
  padding-top: 35px;
  padding-bottom: 50px;
  padding-left: 47px;
  padding-right: 47px;

  @media screen and (max-width: 1000px) {
    padding-left: 27px;
    padding-right: 27px;
  }

  @media screen and (max-width: 500px) {
    padding: 0;
    padding-top: 10px;
  }

  .project-container {
    display: flex;
    margin: 5px;
    margin-bottom: 30px;
    height: 100%;

    @media screen and (max-width: 1450px) {
      margin-bottom: 5px;
    }

    @media screen and (max-width: 800px) {
      margin-bottom: 15px;
    }

    @media screen and (max-width: 550px) {
      margin: 0;
    }
  }
}

#portfolio-container .project-container .project-feature-image {
  width: 50%;
  max-width: none;
  overflow: hidden;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    max-width: none;
    border-top-left-radius: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 0;
    object-fit: cover;

    @media screen and (max-width: 1450px) {
      border-radius: 3px
    }

    @media screen and (max-width: 550px) {
      border-radius: 0;
    }
  }

  .project-feature-image-title {
    display: none;
    z-index: 3;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #dddddd;
    background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,1));
    padding-left: 30px;
    padding-right: 35px;
    padding-bottom: 20px;
    padding-top: 30px;
    box-sizing: border-box;
    transition: 0.2s;

    &.expanded {
      opacity: 0;
      transition: 0.35s;
    }

    .project-category {
      margin: 0;
      font-size: 13px;
      font-family: 'CooperHewitt-Medium', sans-serif;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      color: #afafaf;
    }

    h1 {
      margin: 0;
      font-size: 30px;
      position: relative;
      width: 100%;
      font-family: 'CooperHewitt-Semibold', sans-serif;
      letter-spacing: 3px;
      letter-spacing: 2px;

      line-height: 1.1;
      padding-top: 5px;
    }

    svg {
      position: absolute;
      top: 60%;
      right: 40px;
      transform: translateY(-60%) rotate(90deg);
    }
  }
}

#portfolio-container .project-container .project-feature-description-container {
  width: 50%;
  overflow: hidden;
  background-size: cover;
  overflow: hidden;
  position: relative;
  border-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;

  .description-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(10px);

    img {
      width: 100%;
      height: 100%;
      max-width: none;
      // border-top-left-radius: 0;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 0;
    }
  }

  .project-feature-description {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    padding: 40px;
    box-sizing: border-box;
    color: #dddddd;
    z-index: 0;
    position: relative;

    @media screen and (max-width: 1450px) and (min-width: 1250px) {
      overflow-y: scroll;
    }

    .feature-title {
      font-family: 'CooperHewitt-Semibold', sans-serif;
      text-transform: uppercase;
      font-size: 40px;
      margin: 0;
      letter-spacing: 3px;
    }

    .project-category {
      margin-top: 0;
      font-size: 13px;
      font-family: 'CooperHewitt-Medium', sans-serif;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      color: #afafaf;
    }

    .view-website-button {
      position: absolute;
      right: 40px;
      top: 45px;
      border: solid 1px #dddddd;
      border-radius: 3px;
      padding: 18px 35px;
      display: flex;
      align-items: center;
      transition: 0.2s;
      color: #dddddd;

      p {
        margin: 0;
        font-family: 'ProximaRegular', sans-serif;
        letter-spacing: 0.1px;
        text-decoration: none;
      }

      .material-icons {
        display: none;
      }

      &:hover {
        background-color: rgba(255,255,255,0.85);
        transition: 0.2s;

        p {
          color: rgba(0,0,0,0.9);
        }
      }
    }

    .description-body {
      margin-top: 30px;
      padding-top: 30px;
      border-top: solid 1px #666666;

      .description-category {
        margin-bottom: 25px;

        h3 {
          color: #dddddd;
          font-size: 15px;
          font-family: 'ProximaRegular', sans-serif;
          margin: 0;
          margin-bottom: 10px;
          letter-spacing: 0.5px;

          @media screen and (max-width: 500px) {
            letter-spacing: 0.3px;
          }
        }

        p {
          font-family: 'ProximaRegular', sans-serif;
          margin: 0;
          color: #cccccc;
          letter-spacing: 0.1px;
          line-height: 21px;

          @media screen and (max-width: 500px) {
            letter-spacing: 0;
          }
        }

        a {
          color: #ddd;
          text-decoration: underline;
          text-underline-position: under;
          font-size: 15px;

          &:hover {
            color: #bbb;
            transition: 0.2s;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1450px) {

  #portfolio-container {
    display: flex;
    flex-wrap: wrap;

    .project-container {
      width: calc(50% - 10px);
      position: relative;

      &:hover {
        cursor: pointer;
      }

      .project-feature-description-container {
        width: 100% !important;
        transition: 0.35s;
        height: 0;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 5;

        &.selected {
          height: 100% !important;
          transition: 0.35s;
        }

        .project-feature-description {
          padding-top: 35px;

          .project-category {
            display: none;
          }

          .description-body {
            margin-top: 20px;
          }

          .view-website-button {
            top: 39px;
            padding: 4px 15px;

            p {
              margin: 0;
              display: none;
            }

            .material-icons {
              transform: rotate(-45deg);
              display: block;
            }
          }
        }
      }

      .project-feature-image {
        width: 100% !important;

        .project-feature-image-title {
          display: block;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  #portfolio-container .project-container .project-feature-description-container {

    .project-feature-description .view-website-button {
      position: static;
      display: inline-block;
      margin-top: 10px;

      p {
        display: block;
        padding: 10px 20px;
      }

      .material-icons {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 1250px) {
  //beginning of modals, still 2 columns

  #portfolio-container .project-container {

    .project-feature-description-container {
      position: fixed;
      overflow-y: scroll;
      height: 100% !important;
      width: 100% !important;
      max-height: 100% !important;
      padding-left: 15%;
      padding-right: 15%;
      padding-top: 15%;
      padding-bottom: 25%;
      box-sizing: border-box;
      left: 0;
      top: 0;
      bottom: 20px;
      background-color: rgba(0,0,0,0.7);
      bottom: auto;
      height: auto !important;
      opacity: 0;
      visibility: hidden;
      transition: 0.45s;

      .description-background {
        display: none;
      }

      .project-feature-description {
        background-color: rgba(0,0,0,0.75);

        .feature-title, .project-category {
          display: block;
        }

        .description-body {
          margin-top: 30px;
          padding-top: 30px;
          border-top: solid 1px #666666;
        }
      }

      &.selected {
        height: auto !important;
        min-height: 100vh !important;
        opacity: 1;
        transition: 0.45s;
        visibility: visible;
      }
    }
  }
}

@media screen and (max-width: 999px) {
  #portfolio-container .project-container {
    .project-feature-image {

      .project-feature-image-title {
        h1 {
          font-size: 25px;
          line-height: 25px;
        }
      }
    }
  }
}

@media screen and (max-width: 850px) and (min-width: 751px), (max-width: 550px) {
  #portfolio-container .project-container {
    .project-feature-image {

      .project-feature-image-title {
        h1 {
          font-size: 22px;
          line-height: 25px;
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  #portfolio-container .project-container {

    .project-feature-description-container {
      padding-left: 10%;
      padding-right: 10%;

    }
  }
}

@media screen and (max-width: 800px) {

  #portfolio-container {
    .project-container {
      width: 100%;
    }
  }
}

@media screen and (max-width: 500px) {
  #portfolio-container .project-container {

    .project-feature-description-container {
      padding-left: 4%;
      padding-right: 4%;
      padding-top: 10%;
      border-radius: 0;
      z-index: 7;
      min-height: 100vh !important;

      .project-feature-description {
        padding: 25px;
        padding-top: 25px;
        border-radius: 3px;

        .feature-title {
          font-size: 24px;
          line-height: 35px;
          font-family: 'CooperHewitt-Medium', sans-serif;
          letter-spacing: 1.6px;
        }

        .project-category {
          font-size: 12px;
          font-family: 'CooperHewitt-Book', sans-serif;
        }

        .description-body {
          font-size: 14px;
          padding-top: 15px;
          margin-top: 12px;
        }
      }
    }

    .project-feature-image {
      .project-feature-image-title {
        // padding-top: 17px;
        // padding-bottom: 7px;
        padding-top: 14px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;

        h1 {
          font-size: 20px;
          line-height: 30px;
          font-family: 'CooperHewitt-Medium', sans-serif;
          text-transform: uppercase;
          letter-spacing: 2.5px;
        }

        svg {
          width: 20px;
          height: 20px;
          right: 25px;
          top: 65%;
          transform: translateY(-70%) rotate(90deg);
        }

        .project-category {
          display: none;
        }
      }
    }
  }
}
